TME5_6/clingo-4.5.4-win64/CHANGES
TME5_6/clingo-4.5.4-win64/clingo.exe
TME5_6/clingo-4.5.4-win64/COPYING
TME5_6/clingo-4.5.4-win64/gringo.exe
TME5_6/clingo-4.5.4-win64/README
TME5_6/clingo-4.5.4-win64/reify.exe
TME5_6/clingo-4.5.4-win64/examples/examples/clingo/addclause/addclause-lua.lp
TME5_6/clingo-4.5.4-win64/examples/examples/clingo/addclause/addclause-py.lp
TME5_6/clingo-4.5.4-win64/examples/examples/clingo/addclause/README
TME5_6/clingo-4.5.4-win64/examples/examples/clingo/blocksworld/blocks_01.lp
TME5_6/clingo-4.5.4-win64/examples/examples/clingo/blocksworld/control_01.lua
TME5_6/clingo-4.5.4-win64/examples/examples/clingo/blocksworld/control_01.out
TME5_6/clingo-4.5.4-win64/examples/examples/clingo/blocksworld/lua_interpret.lp
TME5_6/clingo-4.5.4-win64/examples/examples/clingo/blocksworld/lua.lp
TME5_6/clingo-4.5.4-win64/examples/examples/clingo/blocksworld/README
TME5_6/clingo-4.5.4-win64/examples/examples/clingo/blocksworld/world.lp
TME5_6/clingo-4.5.4-win64/examples/examples/clingo/commit/commit-lua.lp
TME5_6/clingo-4.5.4-win64/examples/examples/clingo/commit/commit-py.lp
TME5_6/clingo-4.5.4-win64/examples/examples/clingo/commit/encoding.lp
TME5_6/clingo-4.5.4-win64/examples/examples/clingo/commit/README
TME5_6/clingo-4.5.4-win64/examples/examples/clingo/consequences/brave-lua.lp
TME5_6/clingo-4.5.4-win64/examples/examples/clingo/consequences/brave-py.lp
TME5_6/clingo-4.5.4-win64/examples/examples/clingo/consequences/example.lp
TME5_6/clingo-4.5.4-win64/examples/examples/clingo/consequences/README
TME5_6/clingo-4.5.4-win64/examples/examples/clingo/context/context-lua.lp
TME5_6/clingo-4.5.4-win64/examples/examples/clingo/context/context-py.lp
TME5_6/clingo-4.5.4-win64/examples/examples/clingo/context/encoding.lp
TME5_6/clingo-4.5.4-win64/examples/examples/clingo/context/README
TME5_6/clingo-4.5.4-win64/examples/examples/clingo/controller-async/client.lp
TME5_6/clingo-4.5.4-win64/examples/examples/clingo/controller-async/controller.py
TME5_6/clingo-4.5.4-win64/examples/examples/clingo/controller-async/README
TME5_6/clingo-4.5.4-win64/examples/examples/clingo/controller-processes/client-lua.lp
TME5_6/clingo-4.5.4-win64/examples/examples/clingo/controller-processes/client-py.lp
TME5_6/clingo-4.5.4-win64/examples/examples/clingo/controller-processes/client.lp
TME5_6/clingo-4.5.4-win64/examples/examples/clingo/controller-processes/README
TME5_6/clingo-4.5.4-win64/examples/examples/clingo/controller-processes/server.py
TME5_6/clingo-4.5.4-win64/examples/examples/clingo/controller-threads/client.lp
TME5_6/clingo-4.5.4-win64/examples/examples/clingo/controller-threads/controller.py
TME5_6/clingo-4.5.4-win64/examples/examples/clingo/controller-threads/README
TME5_6/clingo-4.5.4-win64/examples/examples/clingo/cover/control-lua.lp
TME5_6/clingo-4.5.4-win64/examples/examples/clingo/cover/control-py.lp
TME5_6/clingo-4.5.4-win64/examples/examples/clingo/cover/cover.lp
TME5_6/clingo-4.5.4-win64/examples/examples/clingo/cover/instance.lp
TME5_6/clingo-4.5.4-win64/examples/examples/clingo/cover/preprocess.lp
TME5_6/clingo-4.5.4-win64/examples/examples/clingo/cover/README
TME5_6/clingo-4.5.4-win64/examples/examples/clingo/domains/domains-lua.lp
TME5_6/clingo-4.5.4-win64/examples/examples/clingo/domains/domains-py.lp
TME5_6/clingo-4.5.4-win64/examples/examples/clingo/domains/instance.lp
TME5_6/clingo-4.5.4-win64/examples/examples/clingo/domains/README
TME5_6/clingo-4.5.4-win64/examples/examples/clingo/enum-assumption/example-lua.lp
TME5_6/clingo-4.5.4-win64/examples/examples/clingo/enum-assumption/example-py.lp
TME5_6/clingo-4.5.4-win64/examples/examples/clingo/enum-assumption/README
TME5_6/clingo-4.5.4-win64/examples/examples/clingo/expansion/main.py
TME5_6/clingo-4.5.4-win64/examples/examples/clingo/expansion/README
TME5_6/clingo-4.5.4-win64/examples/examples/clingo/expansion/GraphColouring/encodings/encoding.lp
TME5_6/clingo-4.5.4-win64/examples/examples/clingo/expansion/GraphColouring/instances/0004-graph_colouring-125-0.lp
TME5_6/clingo-4.5.4-win64/examples/examples/clingo/expansion/GraphColouring/instances/0005-graph_colouring-125-0.lp
TME5_6/clingo-4.5.4-win64/examples/examples/clingo/expansion/GraphColouring/instances/0007-graph_colouring-125-0.lp
TME5_6/clingo-4.5.4-win64/examples/examples/clingo/expansion/GraphColouring/instances/0008-graph_colouring-125-0.lp
TME5_6/clingo-4.5.4-win64/examples/examples/clingo/expansion/GraphColouring/instances/0013-graph_colouring-130-0.lp
TME5_6/clingo-4.5.4-win64/examples/examples/clingo/expansion/GraphColouring/instances/0021-graph_colouring-135-0.lp
TME5_6/clingo-4.5.4-win64/examples/examples/clingo/expansion/GraphColouring/instances/0022-graph_colouring-135-0.lp
TME5_6/clingo-4.5.4-win64/examples/examples/clingo/expansion/GraphColouring/instances/0023-graph_colouring-135-0.lp
TME5_6/clingo-4.5.4-win64/examples/examples/clingo/expansion/GraphColouring/instances/0025-graph_colouring-135-0.lp
TME5_6/clingo-4.5.4-win64/examples/examples/clingo/expansion/GraphColouring/instances/0032-graph_colouring-140-0.lp
TME5_6/clingo-4.5.4-win64/examples/examples/clingo/expansion/GraphColouring/instances/0036-graph_colouring-140-0.lp
TME5_6/clingo-4.5.4-win64/examples/examples/clingo/expansion/GraphColouring/instances/0039-graph_colouring-140-0.lp
TME5_6/clingo-4.5.4-win64/examples/examples/clingo/expansion/GraphColouring/instances/0040-graph_colouring-140-0.lp
TME5_6/clingo-4.5.4-win64/examples/examples/clingo/expansion/GraphColouring/instances/0046-graph_colouring-145-0.lp
TME5_6/clingo-4.5.4-win64/examples/examples/clingo/expansion/GraphColouring/instances/0047-graph_colouring-145-0.lp
TME5_6/clingo-4.5.4-win64/examples/examples/clingo/expansion/GraphColouring/instances/0048-graph_colouring-145-0.lp
TME5_6/clingo-4.5.4-win64/examples/examples/clingo/expansion/GraphColouring/instances/0050-graph_colouring-145-0.lp
TME5_6/clingo-4.5.4-win64/examples/examples/clingo/expansion/GraphColouring/instances/0056-graph_colouring-150-0.lp
TME5_6/clingo-4.5.4-win64/examples/examples/clingo/expansion/GraphColouring/instances/0059-graph_colouring-150-0.lp
TME5_6/clingo-4.5.4-win64/examples/examples/clingo/expansion/GraphColouring/instances/0060-graph_colouring-150-0.lp
TME5_6/clingo-4.5.4-win64/examples/examples/clingo/expansion/PartnerUnits/encodings/encoding.lp
TME5_6/clingo-4.5.4-win64/examples/examples/clingo/expansion/PartnerUnits/instances/26-partner_units_polynomial-60-0.lp
TME5_6/clingo-4.5.4-win64/examples/examples/clingo/expansion/PartnerUnits/instances/52-partner_units_polynomial-100-0.lp
TME5_6/clingo-4.5.4-win64/examples/examples/clingo/expansion/PartnerUnits/instances/58-partner_units_polynomial-100-0.lp
TME5_6/clingo-4.5.4-win64/examples/examples/clingo/expansion/PartnerUnits/instances/69-partner_units_polynomial-100-0.lp
TME5_6/clingo-4.5.4-win64/examples/examples/clingo/expansion/PartnerUnits/instances/91-partner_units-100-0.lp
TME5_6/clingo-4.5.4-win64/examples/examples/clingo/expansion/PartnerUnits/instances/99-partner_units-100-0.lp
TME5_6/clingo-4.5.4-win64/examples/examples/clingo/expansion/PartnerUnits/instances/100-partner_units-100-0.lp
TME5_6/clingo-4.5.4-win64/examples/examples/clingo/expansion/PartnerUnits/instances/102-partner_units-100-0.lp
TME5_6/clingo-4.5.4-win64/examples/examples/clingo/expansion/PartnerUnits/instances/114-partner_units_polynomial-100-0.lp
TME5_6/clingo-4.5.4-win64/examples/examples/clingo/expansion/PartnerUnits/instances/115-partner_units_polynomial-100-0.lp
TME5_6/clingo-4.5.4-win64/examples/examples/clingo/expansion/PartnerUnits/instances/119-partner_units_polynomial-100-0.lp
TME5_6/clingo-4.5.4-win64/examples/examples/clingo/expansion/PartnerUnits/instances/127-partner_units_polynomial-100-0.lp
TME5_6/clingo-4.5.4-win64/examples/examples/clingo/expansion/PartnerUnits/instances/153-partner_units-100-0.lp
TME5_6/clingo-4.5.4-win64/examples/examples/clingo/expansion/PartnerUnits/instances/154-partner_units-100-0.lp
TME5_6/clingo-4.5.4-win64/examples/examples/clingo/expansion/PartnerUnits/instances/156-partner_units-100-0.lp
TME5_6/clingo-4.5.4-win64/examples/examples/clingo/expansion/PartnerUnits/instances/161-partner_units-100-0.lp
TME5_6/clingo-4.5.4-win64/examples/examples/clingo/expansion/PartnerUnits/instances/175-partner_units_polynomial-75-0.lp
TME5_6/clingo-4.5.4-win64/examples/examples/clingo/expansion/PartnerUnits/instances/180-partner_units_polynomial-47-0.lp
TME5_6/clingo-4.5.4-win64/examples/examples/clingo/expansion/PartnerUnits/instances/188-partner_units_polynomial-57-0.lp
TME5_6/clingo-4.5.4-win64/examples/examples/clingo/expansion/PartnerUnits/instances/196-partner_units_polynomial-59-0.lp
TME5_6/clingo-4.5.4-win64/examples/examples/clingo/external/external-lua.lp
TME5_6/clingo-4.5.4-win64/examples/examples/clingo/external/external-py.lp
TME5_6/clingo-4.5.4-win64/examples/examples/clingo/external/external.lp
TME5_6/clingo-4.5.4-win64/examples/examples/clingo/external/README
TME5_6/clingo-4.5.4-win64/examples/examples/clingo/iclingo/example.lp
TME5_6/clingo-4.5.4-win64/examples/examples/clingo/iclingo/incmode-int.lp
TME5_6/clingo-4.5.4-win64/examples/examples/clingo/iclingo/incmode-lua.lp
TME5_6/clingo-4.5.4-win64/examples/examples/clingo/iclingo/incmode-py.lp
TME5_6/clingo-4.5.4-win64/examples/examples/clingo/iclingo/README
TME5_6/clingo-4.5.4-win64/examples/examples/clingo/include/encoding-lua.lp
TME5_6/clingo-4.5.4-win64/examples/examples/clingo/include/encoding-py.lp
TME5_6/clingo-4.5.4-win64/examples/examples/clingo/include/include.lp
TME5_6/clingo-4.5.4-win64/examples/examples/clingo/include/README
TME5_6/clingo-4.5.4-win64/examples/examples/clingo/incqueens/incqueens-lua.lp
TME5_6/clingo-4.5.4-win64/examples/examples/clingo/incqueens/incqueens-py.lp
TME5_6/clingo-4.5.4-win64/examples/examples/clingo/incqueens/incqueens.lp
TME5_6/clingo-4.5.4-win64/examples/examples/clingo/incqueens/README
TME5_6/clingo-4.5.4-win64/examples/examples/clingo/ipython/ipython.py
TME5_6/clingo-4.5.4-win64/examples/examples/clingo/ipython/README
TME5_6/clingo-4.5.4-win64/examples/examples/clingo/itersolve/itersolve-lua.lp
TME5_6/clingo-4.5.4-win64/examples/examples/clingo/itersolve/itersolve-py.lp
TME5_6/clingo-4.5.4-win64/examples/examples/clingo/itersolve/program.lp
TME5_6/clingo-4.5.4-win64/examples/examples/clingo/itersolve/README
TME5_6/clingo-4.5.4-win64/examples/examples/clingo/load/load-lua.lp
TME5_6/clingo-4.5.4-win64/examples/examples/clingo/load/load-py.lp
TME5_6/clingo-4.5.4-win64/examples/examples/clingo/load/program.lp
TME5_6/clingo-4.5.4-win64/examples/examples/clingo/load/README
TME5_6/clingo-4.5.4-win64/examples/examples/clingo/onmodel/onmodel-lua.lp
TME5_6/clingo-4.5.4-win64/examples/examples/clingo/onmodel/onmodel-py.lp
TME5_6/clingo-4.5.4-win64/examples/examples/clingo/onmodel/README
TME5_6/clingo-4.5.4-win64/examples/examples/clingo/planning/convert.lp
TME5_6/clingo-4.5.4-win64/examples/examples/clingo/planning/convert.sh
TME5_6/clingo-4.5.4-win64/examples/examples/clingo/planning/encoding.lp
TME5_6/clingo-4.5.4-win64/examples/examples/clingo/planning/planning-lua.lp
TME5_6/clingo-4.5.4-win64/examples/examples/clingo/planning/README
TME5_6/clingo-4.5.4-win64/examples/examples/clingo/planning/instances/coins01.lp
TME5_6/clingo-4.5.4-win64/examples/examples/clingo/planning/instances/comm02.lp
TME5_6/clingo-4.5.4-win64/examples/examples/clingo/planning/instances/comm03.lp
TME5_6/clingo-4.5.4-win64/examples/examples/clingo/planning/instances/comm05.lp
TME5_6/clingo-4.5.4-win64/examples/examples/clingo/planning/instances/uts01.lp
TME5_6/clingo-4.5.4-win64/examples/examples/clingo/pydoc/pydoc-lib.py
TME5_6/clingo-4.5.4-win64/examples/examples/clingo/pydoc/pydoc.lp
TME5_6/clingo-4.5.4-win64/examples/examples/clingo/pydoc/README
TME5_6/clingo-4.5.4-win64/examples/examples/clingo/robots/board.lp
TME5_6/clingo-4.5.4-win64/examples/examples/clingo/robots/README
TME5_6/clingo-4.5.4-win64/examples/examples/clingo/robots/robots.lp
TME5_6/clingo-4.5.4-win64/examples/examples/clingo/robots/visualize.py
TME5_6/clingo-4.5.4-win64/examples/examples/clingo/robots/img/arrow_blue_east.gif
TME5_6/clingo-4.5.4-win64/examples/examples/clingo/robots/img/arrow_blue_north.gif
TME5_6/clingo-4.5.4-win64/examples/examples/clingo/robots/img/arrow_blue_south.gif
TME5_6/clingo-4.5.4-win64/examples/examples/clingo/robots/img/arrow_blue_west.gif
TME5_6/clingo-4.5.4-win64/examples/examples/clingo/robots/img/arrow_green_east.gif
TME5_6/clingo-4.5.4-win64/examples/examples/clingo/robots/img/arrow_green_north.gif
TME5_6/clingo-4.5.4-win64/examples/examples/clingo/robots/img/arrow_green_south.gif
TME5_6/clingo-4.5.4-win64/examples/examples/clingo/robots/img/arrow_green_west.gif
TME5_6/clingo-4.5.4-win64/examples/examples/clingo/robots/img/arrow_red_east.gif
TME5_6/clingo-4.5.4-win64/examples/examples/clingo/robots/img/arrow_red_north.gif
TME5_6/clingo-4.5.4-win64/examples/examples/clingo/robots/img/arrow_red_south.gif
TME5_6/clingo-4.5.4-win64/examples/examples/clingo/robots/img/arrow_red_west.gif
TME5_6/clingo-4.5.4-win64/examples/examples/clingo/robots/img/arrow_yellow_east.gif
TME5_6/clingo-4.5.4-win64/examples/examples/clingo/robots/img/arrow_yellow_north.gif
TME5_6/clingo-4.5.4-win64/examples/examples/clingo/robots/img/arrow_yellow_south.gif
TME5_6/clingo-4.5.4-win64/examples/examples/clingo/robots/img/arrow_yellow_west.gif
TME5_6/clingo-4.5.4-win64/examples/examples/clingo/robots/img/moon_blue.gif
TME5_6/clingo-4.5.4-win64/examples/examples/clingo/robots/img/moon_green.gif
TME5_6/clingo-4.5.4-win64/examples/examples/clingo/robots/img/moon_red.gif
TME5_6/clingo-4.5.4-win64/examples/examples/clingo/robots/img/moon_yellow.gif
TME5_6/clingo-4.5.4-win64/examples/examples/clingo/robots/img/move_blue_east.gif
TME5_6/clingo-4.5.4-win64/examples/examples/clingo/robots/img/move_blue_north.gif
TME5_6/clingo-4.5.4-win64/examples/examples/clingo/robots/img/move_blue_south.gif
TME5_6/clingo-4.5.4-win64/examples/examples/clingo/robots/img/move_blue_west.gif
TME5_6/clingo-4.5.4-win64/examples/examples/clingo/robots/img/move_green_east.gif
TME5_6/clingo-4.5.4-win64/examples/examples/clingo/robots/img/move_green_north.gif
TME5_6/clingo-4.5.4-win64/examples/examples/clingo/robots/img/move_green_south.gif
TME5_6/clingo-4.5.4-win64/examples/examples/clingo/robots/img/move_green_west.gif
TME5_6/clingo-4.5.4-win64/examples/examples/clingo/robots/img/move_red_east.gif
TME5_6/clingo-4.5.4-win64/examples/examples/clingo/robots/img/move_red_north.gif
TME5_6/clingo-4.5.4-win64/examples/examples/clingo/robots/img/move_red_south.gif
TME5_6/clingo-4.5.4-win64/examples/examples/clingo/robots/img/move_red_west.gif
TME5_6/clingo-4.5.4-win64/examples/examples/clingo/robots/img/move_yellow_east.gif
TME5_6/clingo-4.5.4-win64/examples/examples/clingo/robots/img/move_yellow_north.gif
TME5_6/clingo-4.5.4-win64/examples/examples/clingo/robots/img/move_yellow_south.gif
TME5_6/clingo-4.5.4-win64/examples/examples/clingo/robots/img/move_yellow_west.gif
TME5_6/clingo-4.5.4-win64/examples/examples/clingo/robots/img/random_robot.gif
TME5_6/clingo-4.5.4-win64/examples/examples/clingo/robots/img/robot_blue.gif
TME5_6/clingo-4.5.4-win64/examples/examples/clingo/robots/img/robot_green.gif
TME5_6/clingo-4.5.4-win64/examples/examples/clingo/robots/img/robot_red.gif
TME5_6/clingo-4.5.4-win64/examples/examples/clingo/robots/img/robot_yellow.gif
TME5_6/clingo-4.5.4-win64/examples/examples/clingo/robots/img/saturn_blue.gif
TME5_6/clingo-4.5.4-win64/examples/examples/clingo/robots/img/saturn_green.gif
TME5_6/clingo-4.5.4-win64/examples/examples/clingo/robots/img/saturn_red.gif
TME5_6/clingo-4.5.4-win64/examples/examples/clingo/robots/img/saturn_yellow.gif
TME5_6/clingo-4.5.4-win64/examples/examples/clingo/robots/img/star_blue.gif
TME5_6/clingo-4.5.4-win64/examples/examples/clingo/robots/img/star_green.gif
TME5_6/clingo-4.5.4-win64/examples/examples/clingo/robots/img/star_red.gif
TME5_6/clingo-4.5.4-win64/examples/examples/clingo/robots/img/star_yellow.gif
TME5_6/clingo-4.5.4-win64/examples/examples/clingo/robots/img/sun_blue.gif
TME5_6/clingo-4.5.4-win64/examples/examples/clingo/robots/img/sun_green.gif
TME5_6/clingo-4.5.4-win64/examples/examples/clingo/robots/img/sun_red.gif
TME5_6/clingo-4.5.4-win64/examples/examples/clingo/robots/img/sun_yellow.gif
TME5_6/clingo-4.5.4-win64/examples/examples/clingo/robots/img/tile_left.gif
TME5_6/clingo-4.5.4-win64/examples/examples/clingo/robots/img/tile_right.gif
TME5_6/clingo-4.5.4-win64/examples/examples/clingo/robots/img/wall_north.gif
TME5_6/clingo-4.5.4-win64/examples/examples/clingo/robots/img/wall_west.gif
TME5_6/clingo-4.5.4-win64/examples/examples/clingo/setconf/README
TME5_6/clingo-4.5.4-win64/examples/examples/clingo/setconf/setconf-lua.lp
TME5_6/clingo-4.5.4-win64/examples/examples/clingo/setconf/setconf-py.lp
TME5_6/clingo-4.5.4-win64/examples/examples/clingo/solitaire/instance.lp
TME5_6/clingo-4.5.4-win64/examples/examples/clingo/solitaire/README
TME5_6/clingo-4.5.4-win64/examples/examples/clingo/solitaire/solitaire.lp
TME5_6/clingo-4.5.4-win64/examples/examples/clingo/solitaire/visualize.py
TME5_6/clingo-4.5.4-win64/examples/examples/clingo/solve-async/program.lp
TME5_6/clingo-4.5.4-win64/examples/examples/clingo/solve-async/README
TME5_6/clingo-4.5.4-win64/examples/examples/clingo/solve-async/solve-async-lua.lp
TME5_6/clingo-4.5.4-win64/examples/examples/clingo/solve-async/solve-async-py.lp
TME5_6/clingo-4.5.4-win64/examples/examples/clingo/stats/example.lp
TME5_6/clingo-4.5.4-win64/examples/examples/clingo/stats/README
TME5_6/clingo-4.5.4-win64/examples/examples/clingo/stats/stats-lua.lp
TME5_6/clingo-4.5.4-win64/examples/examples/clingo/stats/stats-py.lp
TME5_6/clingo-4.5.4-win64/examples/examples/clingo/unblock/inst1.lp
TME5_6/clingo-4.5.4-win64/examples/examples/clingo/unblock/inst2.lp
TME5_6/clingo-4.5.4-win64/examples/examples/clingo/unblock/inst3.lp
TME5_6/clingo-4.5.4-win64/examples/examples/clingo/unblock/inst4.lp
TME5_6/clingo-4.5.4-win64/examples/examples/clingo/unblock/inst5.lp
TME5_6/clingo-4.5.4-win64/examples/examples/clingo/unblock/README
TME5_6/clingo-4.5.4-win64/examples/examples/clingo/unblock/unblock.lp
TME5_6/clingo-4.5.4-win64/examples/examples/clingo/unblock/visualize.py
TME5_6/clingo-4.5.4-win64/examples/examples/gringo/gbie/gbie1.lp
TME5_6/clingo-4.5.4-win64/examples/examples/gringo/gbie/gbie2.lp
TME5_6/clingo-4.5.4-win64/examples/examples/gringo/gbie/README
TME5_6/clingo-4.5.4-win64/examples/examples/gringo/gbie/instances/sat_01.lp
TME5_6/clingo-4.5.4-win64/examples/examples/gringo/gbie/instances/sat_02.lp
TME5_6/clingo-4.5.4-win64/examples/examples/gringo/gbie/instances/sat_03.lp
TME5_6/clingo-4.5.4-win64/examples/examples/gringo/gbie/instances/unsat_01.lp
TME5_6/clingo-4.5.4-win64/examples/examples/gringo/gbie/instances/unsat_02.lp
TME5_6/clingo-4.5.4-win64/examples/examples/gringo/queens/queens1.lp
TME5_6/clingo-4.5.4-win64/examples/examples/gringo/queens/queens2.lp
TME5_6/clingo-4.5.4-win64/examples/examples/gringo/queens/README
TME5_6/clingo-4.5.4-win64/examples/examples/gringo/rec-cond/encoding.lp
TME5_6/clingo-4.5.4-win64/examples/examples/gringo/rec-cond/instance.lp
TME5_6/clingo-4.5.4-win64/examples/examples/gringo/rec-cond/README
TME5_6/clingo-4.5.4-win64/examples/examples/gringo/toh/README
TME5_6/clingo-4.5.4-win64/examples/examples/gringo/toh/tohE.lp
TME5_6/clingo-4.5.4-win64/examples/examples/gringo/toh/tohI.lp
TME5_6/clingo-4.5.4-win64/examples/examples/reify/example1.lp
TME5_6/clingo-4.5.4-win64/examples/examples/reify/example2.lp
TME5_6/clingo-4.5.4-win64/examples/examples/reify/meta.lp
TME5_6/clingo-4.5.4-win64/examples/examples/reify/metaD.lp
TME5_6/clingo-4.5.4-win64/examples/examples/reify/metaO.lp
TME5_6/clingo-4.5.4-win64/examples/examples/reify/README
